<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>颜色检测</title>
    <link rel="stylesheet" href="./lib/layui/css/layui.css">
    <link rel="stylesheet" href="./css/d.css">
    <script type="text/javascript" src="./js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>
    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript" src="./js/lpr.js"></script>
</head>
<body>
<div id="app">
    <div class="layui-container">
        <div class="layui-row">
            <div class="layui-col-md5">
                &nbsp;
            </div>
            <div class="layui-col-md4">
                <h1>颜色检测</h1>
            </div>
            <div class="layui-col-md3">
                &nbsp;
            </div>
        </div>
        <form id="form1" class="layui-form" enctype="multipart/form-data" method="post">
            <div class="layui-row">
                <div class="layui-col-md2">
                    <input type="file" id="chooseImage" name="file">
                </div>
                <div class="layui-col-md2">
                    &nbsp;
                </div>
                <div class="layui-col-md4">
                    <img id="cropedBigImg" width="350" height="350" alt="自定义背景" title="自定义背景"/>
                </div>
                <div class="layui-col-md4">
                    &nbsp;
                    <div id="div">{{result}}
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="layui-row">
        <div class="layui-col-md4">
            &nbsp;
        </div>
        <div class="layui-col-md4">
            &nbsp;
        </div>
        <div class="layui-col-md4">
            &nbsp;
        </div>
    </div>

    <div class="layui-container bottom-button">
        <div class="layui-row">
            <div class="layui-col-md5">
                &nbsp;
            </div>
            <div class="layui-col-md4">
                <button class="layui-btn" @click="colorDetect()">颜色检测</button>

            </div>
            <div class="layui-col-md3">
                &nbsp;
            </div>
        </div>
    </div>
</div>
<div class="layui-container bottom">
    <div class="layui-row ">
        <div class="layui-col-md2">
            &nbsp;
        </div>
        <div class="layui-col-md2">
            <a href="/plateDetect"><h2>车牌检测</h2></a>
        </div>
        <div class="layui-col-md2">
            <a href="/plateLocate"><h2>车牌定位</h2></a>
        </div>
        <div class="layui-col-md2">
            <a href="/"><h2>车牌识别</h2></a>
        </div>
        <div class="layui-col-md2">
            <a href="/charsIndetify"><h2>字符标识</h2></a>
        </div>
        <div class="layui-col-md2">
            <a href="/charsRecognize"><h2>字符识别</h2></a>
        </div>
    </div>
</div>
</body>
</html>